a {
    cursor: pointer;
    text-decoration: dashed;
}
body {
    background-color: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Cabin Sketch", cursive;
}

footer {
    text-align: center;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: #c1440e
}
h2 {
    font-size: 50px;
    color: #a53b0d;
    font-size: 30px;
}
p {
    color: #5C3A21;
    font-size: 20px;
}
a {
    color: #b27700;
    font-size: 22px;
    
}
.complementar {
    color: #458faf
}
button {
    background-color: #5C3A21;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #582815;
}
hr {
    border: 1px solid #5C3A21;
    margin: 20px 0;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #5C3A21;
}
#direitos {
    color: #5C3A21;
    font-size: 0.8em;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
h2 ~ p {
    font-size: 25px;
}
section a {
    font-size: 25px;
    font-style: italic;
}
section li {
    font-size: 25px;
    color: #472011;
}
h1 + h3 {
    font-size: 25px;
    text-align: center;
}
h1 + h2 {
    font-size: 30px;
    text-align: center;
}
#certificados {
    background-color: #b07d54;
    border: 2px solid #6b5c4f;
    border-radius: 20px;
    padding: 25px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.img {
    width: 1500px;
    height: 400px;
    background-image: url('LocalizaçãoCruzeta.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
    border: 1px solid black;
    border-radius: 50px;
}
.img2 {
    width: 1500px;
    height: 400px;
    background-image: url('LocalizaçãoCaicó.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
    border: 1px solid black;
    border-radius: 50px;
}