a {
    cursor: pointer;
    text-decoration: dashed;
}
body {
    background-color: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Cabin Sketch", cursive;
}
footer {
    text-align: center;
}
h1 {
    text-align: center;
    color: #c1440e
}
h2 {
    color: #a53b0d;
    font-size: 30px;
}
p {
    color: #5C3A21;
    font-size: 20px;
}
a {
    color: #b27700;
    font-size: 18px;
}
.complementar {
    color: #458faf
}
button {
    background-color: #5C3A21;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #582815;
}
hr {
    border: 1px solid #5C3A21;
    margin: 20px 0;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #5C3A21;
}
#direitos {
    color: #5C3A21;
    font-size: 0.8em;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}